<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/main_banner.jpeg') %>"
    alt="<%= Spree.t('homepage.shop_now') %>">

  <div class="hero-content">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      <%= link_to Spree.t('homepage.all_promotions'), '/promotions', class: 'btn btn-primary btn-danger spree-btn px-5' %>
    </div>
    <div>
      <%= link_to Spree.t('homepage.shop_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">

      <%= link_to spree.nested_taxons_path('rubbers'), class: "homepage-taxon-box mb-3" do %>
        <img class="w-100 lazyload"
          data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
          alt="Накладки">

        <div class="homepage-taxon-box-text">
          <h3>Накладки</h3>
        </div>
      <% end %>

      <%= link_to spree.nested_taxons_path('apparel'), class: "homepage-taxon-box" do %>
        <img class="w-100 lazyload"
          data-src="<%= asset_path('homepage/category_banner_lower.jpg') %>"
          alt="Одежда">

        <div class="homepage-taxon-box-text" role="img" aria-label="Sportswear">
          <h3>Одежда</h3>
        </div>
      <% end %>

    </div>

    <div class="col-6 d-flex flex-column">

      <%= link_to spree.nested_taxons_path('blades'), class: "homepage-taxon-box flex-grow-1" do %>
        <img class="w-100 lazyload"
          data-src="<%= asset_path('homepage/big_category_banner.jpg') %>"
          alt="Основания">

        <div class="homepage-taxon-box-text">
          <h3>Основания</h3>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3"></div>
